<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tas Mekan Cafe</title>
    <style>
        body { margin: 0; padding: 0; background-color: #3c4043; color: #fff3dd; display: flex; height: 100vh; font-family: sans-serif; overflow: hidden; }
        .sol-taraf { width: 35%; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; padding: 20px; }
        .sag-taraf { width: 65%; background: white; height: 100vh; overflow: hidden; }
    </style>
</head>
<body>
    <div class="sol-taraf">
        <h1>Tas Mekan<br>Cafe</h1>
        <p>Anılarınızı bizimle paylaşın!</p>
    </div>
    <div class="sag-taraf">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-5522cb1a-3d60-4a52-8434-ecc494c8db4f"></div>
    </div>
</body>
</html>
